* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-page {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 100px;
  display: flex;
}
.container h1 {
  margin-top: 30px;
  color: rgb(107, 37, 111);
}

.wine-header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.wine-header h2 {
  margin-bottom: 10px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.wines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.wines .featured {
  width: 50%;
  height: 420px;
}

.wines .featured img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wine-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 33.33%;
  padding: 0 0 0 20px;
}

.wine-cards img {
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.descriptions, .datasheet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.descriptions h2, .datasheet h2 {
  margin-bottom: 22px;
}

.datasheet .icons {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
}

.price h2 {
  font-size: 3rem;
  color: rgb(107, 37, 111);
  margin-bottom: 10px;
}

.price button {
  min-width: 220px;
  background-color: rgb(107, 37, 111);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}